@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: inter;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    padding: 16px;
    background-color: #FFFFFF;
    align-items: center;
    margin: auto;

}
.link {
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 600;
}
nav button{
    background-color:   #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16px 12.5px ;
    border: 1px;
    border-radius: 4px;

}

.header{
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 676px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    
.header-container{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    padding: 40px;
    gap: 24px;
    text-align: center;
    padding: 120px 115px 180px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.dot-out{
        display: flex;
    align-items: center;
    justify-content: center;
   background: #b4ddc5;
		height: 16px;
		width: 16px;
		border-radius: 100px;
}

.dot-middle{
    display: flex;
    align-items: center;
    justify-content: center;
  background:#4a9369;
		height: 12px;
		width: 12px;
		border-radius: 100px;
}

.dot-in{
    background: #0b8b40;
		height: 6px;
		width: 6px;
		border-radius: 100px;


}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    border-radius: 100px;
}
.highlight h1{
    font-size: 50px;
    color: #FFFFFF;
}

.highlight1 h1{
     font-size: 50px;
    color: #30B868
}
.para p{
    font-size: 18px;
    color: #FFFFFF;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 12px;
    border-radius: 4px;
    background-color: #30B868;
}
.btn1 div{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.btn2{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 12px;
    border-radius: 4px;
     background-color: transparent;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.section2{
    max-width: 85%;
    background-color: #FFFFFF;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 72px 0px;
}
.section-heading h1{
    font-size: 48px;
    font-weight: bold;
}
.section-heading p{
    margin-bottom: 16px;
     font-size: 16px;
    margin-bottom: 44px;

    }
    
.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 322px;
    height: 300px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 6px 50px 0 #67666618;
}

.icon-circle{
    width: 60px;
    height: 60px;
    background-color: #FF6B6B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h2{
    margin: 0 auto 24px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
}

.section-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.box-content img{
    width: 600px;
    height: 600px;
}
.brain-box{
    padding: 102px 0px;
    text-align: start;
}

.brain-box h3{
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    line-height: 20px;
}
.brain-box h1{
    font-size: 48px;
    font-weight: bold;
    
}
.brain-box p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.box-bottom{
    display: flex;
    gap: 10px;
    align-items: center;
}
.section3{
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.section3 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.section3 p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.btn4{
   display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #30B868;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 14px 24px;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 12px;
}

.section4{
    width: 100%;
    height: 348px;
    background-color: #030c3a;
    padding: 120px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-content p{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 16px;
}
.footer-icon{
    display: inline-flex;
    gap: 16px;
}
.footer-icon img{
    width: 20px;
    height: 20px;

}
.footer-bottom p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}